/* CSS Geral */
body {
    margin: 0;
    background-color: #998E8C;
    color: #1E1E1E;
}

.limitador {
    max-width: 1000px;
    margin: 0px auto;
}

::-webkit-scrollbar {
    width: 16px; 
    background-color: #B4A9A6; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #D0C4C1;
    border-radius: 10px;
    border: 3px solid #B4A9A6;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #EDE0DC;
}

.justificar {
    text-align: justify;
}

/* Fontes */
.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }

.anton-regular {
font-family: "Anton", sans-serif;
font-weight: 400;
font-style: normal;
}

/* CSS da intro */
.status {
    display: inline-flex;
    align-items: center;
    gap: 10px; 
    color: #DED8CB;
    background-color: #1E1E1E;
    padding: 10px 20px;
    border-radius: 8px;
    position: absolute;
    top: 15px;
    right: 15px;
  }

.status-light {
width: 12px;
height: 12px;
border-radius: 50%;
background-color: rgb(53, 177, 53);
animation: blink 1.5s infinite;
}

@keyframes blink {
0%, 100% {
    opacity: 1;
}
50% {
    opacity: 0.2;
}
}

.status-text {
margin: 0;
font-size: 16px;
}

.button-img-logo {
    position: absolute;
    display: inline-block;  
    top: 10px;
    left: 10px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}
.button-img-logo img {
    max-width: 40px;   
    height: auto; 
}
.button-img-logo:hover {
    transform: scale(1.1);  
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.intro {
    position: relative;
    background-color: #FF6A3B;
    padding: 80px 50px;
    border-radius: 0px 0px 40px 40px;
}
.intro-conteudo {
    margin: 0 auto;
    width: 50%;
    text-align: left;
    padding-left: 100px;
}

.nome {
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    gap: 5px;
}
.linha {
    display: flex;
    gap: 5px;
}
.linha span {
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
}
.linha span:hover {
    transform: translateY(-10px) rotate(5deg);
    color: #C2AA55;
}

.button-intro {
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    background-color: #BA8474;
    border-radius: 15px;
    padding: 7px 15px;
    cursor: pointer;
    transition: all 0.4s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    /* garante que o botão expanda em hover: */
    display: inline-block; 
}
.button-intro:hover {
    background-color: #C2AA55;
    transform: scale(1.05);
    cursor: pointer;
}

/* about */
.about {
    margin-top: 20px;
    position: relative;
    background-color: #C2AA55;
    padding: 80px 50px;
    border-radius: 40px;
}
.about-conteudo {
    padding-top: 40px;
    padding-left: 40px;
}
.about-conteudo li {
    padding-bottom: 10px;
}
.about-conteudo p {
    font-weight: 700;
    font-size: 150%;
    padding-bottom: 10px;
}
.about-conteudo h2 {
    font-size: 3rem;
    padding-bottom: 10px;
}
.orange {
    display: inline-block;
    color: #FF6A3B;
}

.foto {
    max-width: 100%;
    border: 4px solid #FF6A3B;
    border-radius: 15px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.button-img-about {
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;
    border-radius: 50%;
    transition: transform 0.4s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset;
}
.button-img-about img {
    max-width: 50px;   
    height: auto; 
}
.button-img-about:hover {
    transform: scale(0.95);
    
}

.links {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

/* skills */
.skills-soft {
    margin-top: 0 auto;
    position: relative;
    padding: 50px 50px;
}
.skills-soft h2 {
    padding: 10px;
    font-size: 4rem;
    text-align: center;
}
.skills-soft h3 {
    text-align: center;
}

.soft-cell h4 {
    text-align: center;
}

.espaçamento-icone-lar {
    margin-right: 2px;
}

.soft-cell-unica {
    background-color: #c2aa558c;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 20px;
    min-height: 55%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.soft-margem {
    margin-top: 2rem;
}


.skills-hard {
    margin-top: 0 auto;
    position: relative;
    padding: 50px 0;
}
.skills-hard h3 {
    text-align: center;
}

.hard-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 2rem;
}

.hard-icons {
    font-size: 36px;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    max-height: 300px;
    min-height: 200px;
    text-align: center;
    background-color: #BA8474;
    padding: 35px 45px;
    border-radius: 8px;
    transition: all .45s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
} 
.box h4{
    font-size: 22px;
    font-weight: 600;
    color: #1E1E1E;
}

.box:hover{
    transform: translateY(-8px);
}
